<div class="col-md-5">
  <rs-modal-window [primaryButtonText]="'Slett'" [secondaryButtonText]="'Avbryt'" [show]="showDialog" (response)="deleteVessel($event)" [contentText]="dialogMessage" [title]="dialogTitle"></rs-modal-window>
  <div class="col-lg-6 col-md-6" style="margin-top: 10px">
    <button class="btn btn-success" (click)="onAddVessel()" [disabled]="isLoading" [routerLink]="'edit'"><i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;&nbsp;Opprett fartøy</button>
  </div>
  <div class="col-md-6" style="margin-top: 10px">
    <!--<div class="input-group">
      <span class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></span>
      <input type="text" class="form-control" placeholder="Søk fartøy" [disabled]="isLoading" name="vesselSearch" [(ngModel)]="vesselSearch">
    </div>-->
    <div class="form-group has-feedback">
      <i class="fa fa-search form-control-feedback"></i>
      <input type="text" class="form-control" placeholder="Søk fartøy..." [disabled]="isLoading" name="vesselSearch" [(ngModel)]="vesselSearch" />
    </div>
  </div>
  <div class=" col-md-12" style="margin-top: 10px">
    <div style="border-bottom: solid 1px">
      <h5><i class="fa fa-filter" aria-hidden="true"></i>&nbsp;&nbsp;Filter <span class="badge" *ngIf="filterBemannet||filterRSRK||filterOperativ">Aktivt</span>
        <i class="fa pull-right" [class.fa-chevron-left]="!showFilterOptions" style="cursor: pointer;" [class.fa-chevron-down]="showFilterOptions"  aria-hidden="true" (click)="onShowFilterOptions()"></i></h5>
    </div>
    <div *ngIf="showFilterOptions" style="margin-top: 10px;">
      <button class="btn" type="button" [class.btn-link]="!filterBemannet" [class.btn-info]="filterBemannet" (click)="filterBemannet=!filterBemannet;">
        Fast Bemannet
      </button>
      <button class="btn" type="button" [class.btn-link]="!filterRSRK" [class.btn-info]="filterRSRK" (click)="filterRSRK=!filterRSRK;">
        RSRK
      </button>
      <button class="btn" type="button" [class.btn-link]="!filterOperativ" [class.btn-info]="filterOperativ" (click)="filterOperativ=!filterOperativ;">
        Operativ
      </button>
    </div>
  </div>
  <spinner [visible]="isLoading"></spinner>
  <div class="col-md-12 animated fadeIn" style="margin-top: 10px" [hidden]="isLoading">
    <app-pagination (pageSelect)="onPageSelect($event)"></app-pagination>
    <a class="list-group-item clearfix" [ngClass]="{active: vessel?.key === selectedVessel?.key}"  style="cursor: pointer;"
       *ngFor="let vessel of vessels | filter:[filterOperativ, filterBemannet, filterRSRK] | search: vesselSearch | sort | paginate: [{pageSize: 10, page: page}];" (click)="onSelectVessel(vessel.key)" [routerLink]="vessel.key">
      <i class="fa fa-circle" aria-hidden="true" [style.color]="vesselsService.getStatusCodes()[vessel.status]?.color"></i>&nbsp;&nbsp;{{vessel.prefix}}-{{vessel.id}} {{vessel.name}}
      <span class="btn btn-danger btn-xs pull-right" (click)="onDeleteVessel(vessel.key)"><i class="fa fa-times" aria-hidden="true"></i></span>
      <!--<span class="btn btn-primary btn-sm pull-right"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>-->
    </a>
  </div>
</div>
<div class="col-md-7">
  <div class="col-md-12" style="margin-top: 10px;">
    <router-outlet></router-outlet>
  </div>
</div>
