<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
          <img alt="Brand" src="/assets/img/rs-logo.png" height="24">
      </a>
    </div>
    <div class="navbar-brand">
      Flåteadministrator
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a routerLink="/skøyter">Fartøy <span class="sr-only">(current)</span></a></li>
        <li><a routerLink="/klasser">Klasser</a></li>
        <li><a routerLink="/stasjoner">Stasjoner</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
             aria-expanded="false">Lister <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="https://rsfa-e3c2f.firebaseio.com/vessels.json">Vis fartøysliste (JSON)</a></li>
            <li><a href="https://rsfa-e3c2f.firebaseio.com/stations.json">Vis Stasjonsliste (JSON)</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Innstillinger</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a>Bernt Anker</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
             aria-expanded="false">Innstillinger <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Min Profil</a></li>
            <li><a href="#">Endre passord</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Logg ut</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
