<div class="col-md-5">
  <rs-modal-window [primaryButtonText]="'Slett'" [secondaryButtonText]="'Avbryt'" [show]="showDialog" [contentText]="dialogMessage" [title]="dialogTitle"></rs-modal-window>
  <div class="col-md-12" style="margin-top: 10px">
    <button class="btn btn-success" (click)="onAddVesselClass()" [disabled]="isLoading"><i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;&nbsp;Ny klasse</button>
  </div>
  <div class="col-md-12" style="margin-top: 10px" [hidden]="isLoading">
    <a class="list-group-item clearfix" [class.active]="vesselClass?.key===selectedVesselClass?.key"  style="cursor: pointer;" *ngFor="let vesselClass of vesselClasses; let i = index" (click)="onVesselClassSelected(vesselClass.key)" [routerLink]="vesselClass.key">
      {{vesselClass.name}}
    </a>
  </div>
</div>
<div class="col-md-7">
  <div class="col-md-12" style="margin-top: 10px;">
    <router-outlet></router-outlet>
  </div>
</div>
