<div class="panel panel-default" *ngIf="!isLoading">
  <div class="panel-heading">
    <h4><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;&nbsp;{{station?.name}}</h4>
  </div>
  <div class="panel-body">
    <div class="media">
      <div class="media-body media-left">

        <p><strong>Stasjonstype:</strong> {{this.station?.stationType}}</p>
        <p><strong>Region:</strong>{{station?.region}}</p>
        <p><strong>Telefon:</strong> {{station?.phone}}</p>

      </div>
      <div class="media-right">

      </div>
    </div>
    <div class=" col-sm-12" style="margin-top: 10px" >
      <div style="border-bottom: solid 1px; border-color: black">
        <h4><i class="fa fa-asterisk" aria-hidden="true"></i>&nbsp;&nbsp;Mer informasjon<i class="fa pull-right" [class.fa-chevron-left]="!viewTechnicalData" style="cursor: pointer;" [class.fa-chevron-down]="viewTechnicalData"  aria-hidden="true" (click)="onTechnicalDataClicked()"></i></h4>
      </div>
      <div [hidden]="!viewTechnicalData" style="margin-top: 10px">
        <p><strong>GateAdresse: </strong>30</p>
        <p><strong>Postnummer: </strong>300</p>
        <p><strong>Poststed: </strong>33tonn</p>
      </div>
    </div>
    <button style="margin-top: 20px" class="btn btn-primary"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;&nbsp;Rediger</button>
  </div>
</div>
