.img-circle {
    border-radius: 50%; width: 100px; height: 100px; margin-bottom: 0px;
    margin: 4px 0 0 4px;
    box-shadow: 0 0 0 4px #fff;
}
.img-square {
    width: 150px; height: 150px; margin-bottom: 20px;
}

.sebm-google-map-container {
  width: 220px;
  height: 220px;
  margin-top: 20px;
  margin-right: 20px;
}
