<!--<spinner [visible]="isLoading"></spinner>-->
<div class="panel details-panel panel-default animated fadeIn" *ngIf="!isLoading">

  <div style="position: relative; left: 0; top: 0;">
    <img class="img-circle" src="{{vessel?.imgUrl}}" onError="this.onerror=null;this.src='assets/img/camera.png';" style="position: absolute; top: 10px; left: 10px;"/>
  </div>

  <div style="position: relative; right: 0; top: 0;">
    <app-yr-weather [latitude]="vesselPosition?.latitude_dec" [longitude]="vesselPosition?.longitude_dec" style="position: absolute; top: 0px; right: 10px;"></app-yr-weather>
  </div>

  <div class="panel-heading">
    <div class="panel-title">
      <h4>{{vessel?.prefix}}-{{vessel?.id}} {{vessel?.name}}</h4>
      <p><span [style.color]="vesselStatusColor"><i class="fa fa-circle" aria-hidden="true"></i></span>&nbsp;&nbsp;{{vesselsService.getStatusCodes()[vessel?.status]?.code}}</p>
    </div>
  </div>

  <div class="panel-body">
    <div class="media">
      <ul class="nav nav-tabs">
        <li style="cursor: pointer;" role="presentation" [class.active]="page==1" (click)="page=1"><a>Generelt</a></li>
        <li style="cursor: pointer;" role="presentation" [class.active]="page==2" (click)="page=2"><a>Tekniske data</a></li>
        <li style="cursor: pointer;" role="presentation" [class.active]="page==3" (click)="page=3"><a>Utstyr</a></li>
      </ul>

      <div class="media-body table-bordered">
        <!--Contentn here-->
        <div *ngIf="page==1" class="col-md-8 pull-left">
          <p><strong>Stasjon:</strong> <a routerLink="/stasjoner/{{station?.key}}">{{station?.name}}</a></p>
          <p><strong>Fartøysklasse:</strong> <a routerLink="/klasser/{{vesselClass?.key}}">{{vesselClass?.name}}</a></p>
          <p><strong>Epost:</strong><a href="mailto:{{vessel?.email}}"> {{vessel?.email}}</a></p>
          <p><strong>Telefon:</strong><a href="tel:{{vessel?.phone}}"> {{vessel?.phone}}</a></p>
          <p><strong>Bemannningtype:</strong> {{vessel?.staff}}</p>
          <p><strong>MMSI:</strong> {{vessel?.mmsi}}</p>
          <p><strong>Kallesignal:</strong>{{vessel?.callSign}}</p>
          <p><strong>Ansvarlig inspektør:</strong> {{vessel?.ansvarligInspector}}</p>
          <p><strong>Opersjonsansvarlig:</strong> {{vessel?.ansvarligOperation}}</p>
          <p><strong>Posisjon:</strong> lat: {{vesselPosition?.latitude}} &nbsp; long: {{vesselPosition?.longitude}} &nbsp;&nbsp; Tid:&nbsp;{{vesselPosition?.timeStamp.toLocaleDateString()}}&nbsp;&nbsp;{{vesselPosition?.timeStamp.toLocaleTimeString()}}</p>
          <p><strong>Verft:</strong> {{vessel?.buildingYard}}</p>
          <p><strong>DNV klasse:</strong> {{vessel?.dnvClass}}</p>
          <p><strong>Byggeår:</strong> {{vessel.buildingYear}}</p>
          <p><strong>Finasiering:</strong> {{vessel?.financing}}</p>
        </div>

        <div *ngIf="page==1" class="col-md-4">
          <sebm-google-map [latitude]="vesselPosition?.latitude_dec" [longitude]="vesselPosition?.longitude_dec" class="pull-right-md img-circle">
            <sebm-google-map-marker [latitude]="vesselPosition?.latitude_dec" [longitude]="vesselPosition?.longitude_dec"></sebm-google-map-marker>
          </sebm-google-map>
        </div>

        <div *ngIf="page==2" class="col-md-6">
          <p><strong>Rekkevidde:</strong></p>
          <p><strong>Hastighet:</strong></p>
          <p><strong>Design</strong></p>
          <p><strong>Byggematerialet:</strong></p>
          <p><strong>Bruttovekt:</strong></p>
          <p><strong>Nettovekt:</strong></p>
          <p><strong>Lengde:</strong></p>
          <p><strong>Dybde:</strong></p>
          <p><strong>Bredde:</strong></p>
          <p><strong>Bunkerolje:</strong></p>
          <p><strong>Ballastvann:</strong></p>
          <p><strong>Ferskvannstank:</strong></p>
        </div>
        <div *ngIf="page==2" class="col-md-6">
          <p><strong>Trekk-kraft:</strong></p>
          <p><strong>Tauekrok:</strong></p>
          <p><strong>Hovedmotor:</strong></p>
          <p><strong>Gir:</strong></p>
          <p><strong>Proppelvridning:</strong></p>
          <p><strong>Baugpropell:</strong></p>
          <p><strong>Vannjet:</strong></p>
        </div>

        <div *ngIf="page==3" class="col-md-12">
          <div class="utstyr">
            <div class="utstyr-element">
              <p><strong>Dekksmaskiner</strong></p>
              <p>{{vessel.deckMachinery}}</p>
            </div>
            <div class="utstyr-element">
              <p><strong>Dykkeutstyr</strong></p>
              <p>{{vessel.divingEquipment}}</p>
            </div>
            <div class="utstyr-element">
              <p><strong>Bergingsutstyr</strong></p>
              <p>{{vessel.salvageEquipment}}</p>
            </div>
            <div class="utstyr-element">
              <p><strong>Navigasjonsutstyr</strong></p>
              <p>{{vessel.navigationEquipment}}</p>
            </div>
            <div class="utstyr-element">
              <p><strong>Kommunikasjonsutstyr</strong></p>
              <p>{{vessel.communicationEquipment}}</p>
            </div>
            <p><strong>Personkapasitet:</strong>&nbsp;8</p>
          </div>
        </div>
      </div>
    </div>

    <div id="buttons">
      <button style="margin-top: 20px" class="btn btn-primary" (click)="onEditVessel()" [routerLink]="['../','edit',vessel?.key]"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;&nbsp;Rediger</button>
    </div>
  </div>
</div>
