<div class="col-md-5">
  <rs-modal-window [primaryButtonText]="'Slett'" [secondaryButtonText]="'Avbryt'" [show]="showDialog" (response)="deleteStation($event)" [contentText]="dialogMessage" [title]="dialogTitle"></rs-modal-window>
  <div class="col-lg-6 col-md-6" style="margin-top: 10px">
    <button class="btn btn-success" (click)="onAddStation()" [disabled]="isLoading" [routerLink]="'edit'"><i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;&nbsp;Opprett stasjon</button>
  </div>
  <div class="col-md-6" style="margin-top: 10px">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Søk stasjon" [disabled]="isLoading">
      <span class="input-group-addon" id="basic-addon2"><i class="fa fa-search" aria-hidden="true"></i></span>
    </div>
  </div><!-- /.col-lg-6 -->
  <div class=" col-md-12" style="margin-top: 10px">
    <div style="border-bottom: solid 1px">
      <h5><i class="fa fa-filter" aria-hidden="true"></i>&nbsp;&nbsp;Filter <span class="badge" *ngIf="filterBemannet||filterRSRK||filterOperativ">Aktivt</span>
        <i class="fa pull-right" [class.fa-chevron-left]="!showFilterOptions" style="cursor: pointer;" [class.fa-chevron-down]="showFilterOptions"  aria-hidden="true" (click)="onShowFilterOptions()"></i></h5>
    </div>
    <div *ngIf="showFilterOptions" style="margin-top: 10px;">
      <button class="btn" type="button" [class.btn-link]="!filterBemannet" [class.btn-info]="filterBemannet" (click)="filterBemannet=!filterBemannet">
        Fast Bemannet
      </button>
      <button class="btn" type="button" [class.btn-link]="!filterRSRK" [class.btn-info]="filterRSRK" (click)="filterRSRK=!filterRSRK">
        RSRK
      </button>
      <button class="btn" type="button" [class.btn-link]="!filterOperativ" [class.btn-info]="filterOperativ" (click)="filterOperativ=!filterOperativ">
        Operativ
      </button>
    </div>
  </div>
  <spinner [visible]="isLoading"></spinner>
  <div class="col-md-12" style="margin-top: 10px" [hidden]="isLoading">
    <a class="list-group-item clearfix" style="cursor: pointer;" *ngFor="let station of stations; let i = index" (click)="onStationSelect(i)" [routerLink]="station.key">
      <i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;&nbsp;{{station.name}}
      <span class="btn btn-danger btn-xs pull-right" (click)="onDeleteStation(i)"><i class="fa fa-times" aria-hidden="true"></i></span>
    </a>
  </div>
  <div style="width: 50%; margin: 0 auto">
  <nav aria-label="Page navigation">
    <ul class="pagination">
      <li>
        <a href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li>
        <a href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
  </div>
</div>
<div class="col-md-7">
  <div class="col-md-12" style="margin-top: 10px;">
    <router-outlet></router-outlet>
  </div>
</div>
