<div class="col-md-5">
  <rs-modal-window [primaryButtonText]="'Slett'" [secondaryButtonText]="'Avbryt'" [show]="showDialog" (response)="deleteStation($event)" [contentText]="dialogMessage" [title]="dialogTitle"></rs-modal-window>
  <div class="col-lg-6 col-md-6" style="margin-top: 10px">
    <button class="btn btn-success" (click)="onAddStation()" [disabled]="isLoading" [routerLink]="'edit'"><i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;&nbsp;Opprett stasjon</button>
  </div>
  <div class="col-md-6" style="margin-top: 10px">

    <div class="form-group has-feedback">
      <i class="fa fa-search form-control-feedback"></i>
      <input type="text" class="form-control" placeholder="Søk stasjon..." [disabled]="isLoading" name="stationSearch" [(ngModel)]="stationSearch" />
    </div>

    <!--<div class="input-group">
      <input type="text" class="form-control" placeholder="Søk stasjon" [disabled]="isLoading">
      <span class="input-group-addon" id="basic-addon2"><i class="fa fa-search" aria-hidden="true"></i></span>
    </div>-->
  </div><!-- /.col-lg-6 -->
  <div class=" col-md-12" style="margin-top: 10px">

    <div class="table-bordered" style="border-width:0; border-bottom-width: 2px">
      <h5><i class="fa fa-filter" aria-hidden="true"></i>&nbsp;&nbsp;Filter <span class="badge" *ngIf="filterPrimary||filterRSRK||filterSecondary||filterAmbulanse">Aktivt</span>
        <i class="fa pull-right" [class.fa-chevron-left]="!showFilterOptions" style="cursor: pointer;" [class.fa-chevron-down]="showFilterOptions"  aria-hidden="true" (click)="onShowFilterOptions()"></i></h5>
    </div>
    <div *ngIf="showFilterOptions" style="margin-top: 10px;">
      <ul class="nav nav-pills">
        <li style="cursor: pointer;" role="filter" (click)="filterPrimary=!filterPrimary;" [class.active]="filterPrimary"><a>Primær</a></li>
        <li style="cursor: pointer;" role="filter" (click)="filterRSRK=!filterRSRK;" [class.active]="filterRSRK"><a>RSRK</a></li>
        <li style="cursor: pointer;" role="filter" (click)="filterSecondary=!filterSecondary;" [class.active]="filterSecondary"><a>Sekundær</a></li>
        <li style="cursor: pointer;" role="filter" (click)="filterAmbulanse=!filterAmbulanse;" [class.active]="filterAmbulanse"><a>Ambulanse</a></li>
      </ul>
    </div>
  </div>
  <spinner [visible]="isLoading"></spinner>
  <div class="col-md-12" style="margin-top: 10px" [hidden]="isLoading">
    <app-ng2ba-pagination [id]="1" [showRange]="true" (pageSelected)="onPageSelect($event)" ></app-ng2ba-pagination>
    <a class="list-group-item clearfix" [class.active]="station?.key === selectedStation?.key" style="cursor: pointer;" *ngFor="let station of stations | filter:[filterPrimary, filterSecondary, filterRSRK, filterAmbulanse] | search: stationSearch| sort | paginate: {id:1, pageSize:12, currentPage: page};" (click)="onStationSelect(station.key)" [routerLink]="station.key">
      <i class="fa fa-map-marker" aria-hidden="true" [style.color]="stationsService.getStationsTypeColor(station.stationType)"></i>&nbsp;&nbsp;{{station.name}}
      <span class="btn btn-danger btn-xs pull-right" (click)="onDeleteStation(station.key)"><i class="fa fa-times" aria-hidden="true"></i></span>
    </a>
  </div>
</div>
<div class="col-md-7">
  <div class="col-md-12" style="margin-top: 10px;">
    <router-outlet></router-outlet>
  </div>
</div>
